.hideText{
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical; /* 垂直排列 */
    word-break: break-all;  /* 内容自动换行 */
}

.fontWig{
    font-weight: 900;
}
.lineClamp2{
    -webkit-line-clamp: 2; /* 限制在一个块元素显示的文本的行数 */
}
.lineClamp3{
    -webkit-line-clamp: 3; /* 限制在一个块元素显示的文本的行数 */
}
.lineClamp5{
    -webkit-line-clamp: 5; /* 限制在一个块元素显示的文本的行数 */
}